body {
  font-family: sans-serif;
  margin: 30px;
}

h1 {
  font-family: "Linux Libertine"; /* normal */
  src: url("/static/fonts/linux-libertine/LinLibertine_R.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: "Linux Libertine"; /* normal */
  src: url("/static/fonts/linux-libertine/LinLibertine_R.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.headline-links {
  font-size: 14px;
  margin-left: 10px;
}

/* Table Text + Infos */

.table-row {
  display: table-row;
}

a:hover-link {
  position: relative;
}
/* Table right */

.table-cell {
  border: 1px solid black;
  background: #f8f5f5;
  display: table-cell;
}

.zentrierte-tabelle {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.backgr-headline {
  background-color: #c1d7e3;
}

.text-center {
  text-align: center;
}

.table-td-left {
  width: 140px;
  text-align: left;
}
.table-id-right {
  width: 200px;
  text-align: left;
}

/* Inhaltsverzeichnis */

.inh-verz {
  border: 1px solid black;
  background: #f8f5f5;
  display: table-cell;
  padding: 5px;
}

#more-space {
  margin-left: 20px;
  margin-right: 20px;
}

.inh-ol {
  line-height: 1.5;
}

/* Discgraphie */

h3 {
  font-weight: 100px;
  font-size: 20px;
}
.line {
  width: auto;
  height: 57;
  border-bottom: 1px solid black;
  position: relative;
  margin-bottom: 10px;
}

.mw-body-content {
  border-bottom: solid 1px #dadedf;
}
